
header {
    background-color: white;
    color: white;
    font-family: sans-serif, serif;
}


.navbar li {	
	display: inline_block;
    cursor: pointer;
    /* margin-top: 20px; */
	background: #fff;
    border-radius: 3px;
    float: right;
}

.nav.navbar.nav{
    margin-bottom: 0px;
    
}

.nav-pills{
    font-size:1em;
    font-weight:bold;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    /* margin-bottom:0px; */

}

#home-link{
    /* margin-top: 20px; */
    padding: 10px;
	margin-right: 10px;
    margin-left: 10px;
	cursor: pointer;
    /* border-radius: 3px; */
    border: 1px;
    float: left;
    font-size:1em;
    opacity: 0.9;
    color:white;
    font-weight:bold;
    font-family: 'Times New Roman', Times, serif;
    background: rgba(5, 71, 59, 1);
}

body{
    background-color: #CCC;
}

.nav-pills li a{
    padding: 10px;
	margin-right: 10px;
    margin-left: 10px;
	cursor: pointer;
    border-radius: 5px;
    float: right;
    font-size:1em;
    opacity: 0.9;
    color: rgba(5, 71, 59, 1);
    /* font-family: Arial, Helvetica, sans-serif; */
    /* background: rgba(5, 71, 59, 1);     */
}

#summary{
    background-color: white;
    padding: 10px;
    border-radius: 1px;
    float:left;
    width: 100%;
    /* height: 400px; */
    margin-top: 20px;


}


#viz{
    background-color: white;
    position: relative;
    padding: 10px;
    border-radius: 1px;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    /* background: url("../images/greybox-center-bg1.jpg") repeat-x scroll center top transparent; */
    float: left;
    min-height: 200px;
    /* width: 260px; */

}

.nav_container{
    margin-top: 10px;
    /* margi */
}

#summaryImg{
    position: relative;
    margin: 10px;
    /* margin-top: 90px; */
    /* top: 10%; */
    height: 120px;
    float: left;
    shape-outside: border-box;
    /* border: 10px; */
    /* shape-outside: circle(80%); */
}

#top-row{
    /* background-color: purple; */
    width: 100%;
    height: 150px;
    margin-top: 30px;
}

#bottom-row{
    /* background-color: black; */
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
}

.col-sm-6 img{
    width: 100%;
    /* position: absolute; */
}

.graph_images{
    width: 100%;
}



.body_container{
    background-color: white;
    padding: 40px;
    width: 70%;
    margin-top: 20px;
}


.compare div h2{
    text-align: center;
}

.dropdown{
    position: relative;
}

#max_temp{
    width: 90%;
    margin: 5%;
}

h2 {
    color: rgba(5, 71, 59, 1);
    font-family: 'Times New Roman', Times, serif;
    font-weight:bold;
    padding-top: 20px;
    padding-left: 20px;
}

h3 {
    color: rgba(5, 71, 59, 1);
    font-family: 'Times New Roman', Times, serif;
    font-weight:bold;
}

#img_sum {
    /* position: absolute; */
    background:white;
    width: 100%;

}

#img_sum p{
    padding-bottom:20px;
    padding-left: 20px;
    padding-right: 20px;
    /* padding: 10px; */
}



#main_graph{
    display: block;
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}


th{
    text-align: center;
}

table{
    /* position:absolute; */
    width: 80%;
}

.data_container{
    background-color: white;
    /* position: absolute; */
    /* padding: 40px; */
    width: 70%;
    margin-top: 20px;
}

#selDataset{
    /* background-color: blue; */
    color: black;

}


h1{
    /* background-color: */
    /* color: rgba(5, 71, 59, 1); */
    font-family: 'Times New Roman', Times, serif;
    font-weight:bold;

}

@media (max-width:1000px){
    h1{
        color: yellow;
    }

    #img_sum p{
        /* padding-bottom:2px;
        padding-left: 2px;
        padding-right: 2px; */
        background-color: brown;
        /* padding: 10px; */
    }
    
    ul {
        list-style: none outside none;
        display: flow-root;
    }
    li {
        line-height: 18px;
        margin-bottom: 12px;
        display: flow-root;
    }


}
